params.reads    = "/Users/chandanpavuluri/Projects/NF_RNAseq/fastq/*_{R1,R2}.fastq.gz"
params.outdir   = "$baseDir/output"
params.adapters = "/Users/chandanpavuluri/Projects/NF_RNAseq/TruSeq2-PE.fa"
params.hisat2_index = "/Users/chandanpavuluri/Ref/Gencode/gencode_v49"
params.gtf = "/Users/chandanpavuluri/Ref/Gencode/gencode_v49.gtf"
params.salmon_index = "/Users/chandanpavuluri/Projects/NF_RNAseq/Gencode/SalmonIndex_gencode_v49"
params.basedir = "$baseDir"

process {
    executor = 'local'
    queue    = 'normal'
    cpus     = 4
    memory   = '8 GB'
    time     = '6h'
}


trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}